<h1>Tip Accordingly</h1>
  
<% @questions.each do |question| %>
  <form name="question" action="" method="get">
    <h3><%= question.text %></h3>
    <% question.responses.each do |response| %>
      <p>
        <input type="<%= question.format %>" name="response" value="<%= response.weight %>">
        <label for="response"><%= response.text %></label>
      </p>
    <% end %>
  </form>
<% end %>

<button id="calculate">Calculate Tip</button>