<!-- Header -->
<header class="header">
  <div class="container">
    <h1>Tip Accordingly</h1>
    <p>This app asks you a series of questions about your restaurant experience and then suggests a tip percentage based on your responses.</p>
  </div>
</header>

<!-- Body -->
<div class="container">
  <div class="row">
    <!-- Questions Section -->
    <div class="col-md-8">
      <div class="questions-section">
        <!-- Questions -->
        <div id="questions"> 
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How long did you have to wait to have your order taken?</p>
              <p id="question-weight" class="question-weight">0.015</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    No time at all
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.75">
                    A little bit
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.5">
                    A normal amount of time
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.25">
                    A bit too long
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    A really long time
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How did the server do when taking your order?</p>
              <p id="question-weight" class="question-weight">0.03</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    Excellent - Server was very polite, accommodated all requests, recommended an entree, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.67">
                    Good - Server was courteous, was knowledgeable about menu, accommodated some requests, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.33">
                    Fair - Server was satisfactory, took order properly, not very helpful with menu or special requests, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    Poor - Server was uninterested or rude, didn’t help with anything, made mistakes with order, etc.
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How did the server do when bringing out your food?</p>
              <p id="question-weight" class="question-weight">0.03</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    Excellent - Server brought out food while it was still hot/fresh, remembered who ordered what, quickly provided extra amenities, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.67">
                    Good - Server brought out food while it was still pretty hot/fresh, somewhat remembered who ordered what, eventually brought extra amenities, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.33">
                    Fair - Server brought out food that was a little warm/unfresh, asked who order what, didn’t ask if anything else was needed, etc.
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    Poor - Server brought out food that was cold/unfresh, just set food on table, forgot certain dishes, etc.
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How frequently did your server offer to refill your beverages?</p>
              <p id="question-weight" class="question-weight">0.015</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    Very often
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.67">
                    Fairly often
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.33">
                    Seldom
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    Never
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How good was your server about clearing out dishes you were no longer using?</p>
              <p id="question-weight" class="question-weight">0.005</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    Cleaned up in a timely manner
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.5">
                    Left things on the table for a while
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    Never picked them up
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    Picked them up before you were finished
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">How long did you have to wait for your check?</p>
              <p id="question-weight" class="question-weight">0.005</p>
              <!-- Responses -->
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="1.0">
                    No time at all
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.75">
                    A little bit
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.5">
                    A normal amount of time
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.25">
                    A bit too long
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="response" id="response" value="0.0">
                    A really long time
                  </label>
                </div>
            </form>
            <form name="question" id="question" action="" method="get">
              <!-- Question -->
              <p class="question-text">Do any of the following apply to your server? Select all that apply.</p>
              <p id="question-weight" class="question-weight">1.0</p>
              <!-- Responses -->
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Cracked funny unprepared jokes
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Cleaned up a mess after you dropped a drink or dish
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Cracked open a lobster for you
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Performed a birthday song or provided a birthday dessert free of charge
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Very apologetic for mistakes that were made
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Provided extra mints/candies
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Split total into separate checks
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="response" id="response" value="0.005">
                    Boxed food for you
                  </label>
                </div>
            </form>
        </div>
        <div id="alert" class="alert alert-danger" style="display:none">
          <strong>Oops!</strong> Please fill out all the required questions.
        </div>
        <!-- Calculate Button -->
        <p class="calculate">
          <button type="button" id="calculate" class="btn btn-default btn-lg">Calculate Tip</button>
        </p>
      </div>
    </div>
    <!-- Percentage Section -->
    <div class="col-md-4">
      <div class="percentage-section" data-spy="affix" data-offset-top="222" data-offset-bottom="121">
        <div class="percentage-box">
          <div class="text">Your suggested percentage:</div>
          <div id="percentage" class="percentage"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>&copy; Michael Lannin</p>
  </div>
</footer>