<p>
  <strong>Text:</strong>
  <%= response.text %>
</p>

<p>
  <strong>Weight:</strong>
  <%= response.weight %>
</p>

<p>
  <%= link_to 'Destroy Response', [response.question, response], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>